* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
  }

body{
    margin: 0 auto;
    min-height: 100vh;
    width: 100%;
    height: 721px;
}

img{
    position: relative;
    max-width: 100%;
    width: 90%;
    height: 90%;

}

.circle {
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 145px;
    height: 145px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose-avatar{
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #36d1dc, #5b86e5);
}

/* Property Design for Name. */

.choose-avatar .square-name{

    width: 60%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-top: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
}

.choose-avatar .square-name.active{
    display: block;
}


.choose-avatar .square-name .title-name{
    margin-top: 30px;
}

.choose-avatar .square-name .title-name h2{
    margin-bottom: 30px;
    font-size: 20px;

    
    color: rgb(64, 64, 64);
}

.choose-avatar .square-name .title-name h4{
    font-size: 22px;
    color: rgb(70, 70, 70);

}

/* Property Design for Form Name. */

.square-name .choose-name{
    margin-top: 60px;
}

.square-name .choose-name .submit .submit-button{
    width: 150px;
    height: 35px;


    text-align: center;

    border: 2px solid #111;
    border-radius: 8px;

    color: white;
    font-weight: bold;

    background-color: rgb(0, 132, 255);
    cursor: pointer;
}

.square-name .choose-name .submit .submit-button:hover{
    background-color: rgb(0, 132, 255, 0.8);
}

.square-name .choose-name .name{
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color:  rgb(64, 64, 64);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

}

.square-name .choose-name .name:focus{
    border-bottom: 2px solid transparent;
    background: linear-gradient(to left, #36d1dc, #5b86e5);
    background-position: bottom;
    background-size: 100% 3px;
    background-repeat: no-repeat;

}


/* Property Design Password. */

.square-password{

    width: 60%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-top: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
}

.square-password.active{
    display: block;
    
}

.square-password .password{
    margin-bottom: 15px;
}

.square-password input[type="password"] {
    padding: 10px;

    border: 1px solid #ccc;
    border-radius: 5px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    transition: box-shadow 0.3s ease;
}

.square-password input[type="password"]:focus {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.square-password .submit .submit-button {
    width: 150px;
    height: 35px;


    text-align: center;

    border: 2px solid #111;
    border-radius: 8px;

    color: white;
    font-weight: bold;

    background-color: rgb(0, 132, 255);
    cursor: pointer;
}

.square-password .submit .submit-button:hover {
    background-color: rgb(0, 132, 255, 0.8);
}


.choose-avatar .square-password .title-name h4{
    margin-bottom: 30px;
    font-size: 18px;

    margin-top: 50px;
    
    color: rgb(64, 64, 64);
}


/* Avatar Property. */

.square-avatar {
    width: 60%;
    height: auto;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
}

.square-avatar .title-avatar h4 {
    margin-bottom: 40px;
    font-size: 18px;
    color: rgb(64, 64, 64);
}

.square-avatar  .list-avatar-square{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.square-avatar  .list-avatar-square img{
    width: 70%;

    height: 70%;
}

.square-avatar  .list-avatar-square .avatar-btn{
    cursor: pointer;
    background: none;
    border: none;
}

.square-avatar  .list-avatar-square .avatar-btn img{
    margin-right: 30px;
}

.square-avatar  .list-avatar-square .avatar-btn:hover{
    transform: scale(1.2);
}

.square-avatar  .list-avatar-square .avatar-btn:focus{
    outline: none;
}

.square-avatar .submit-button {
    margin-top: 50px;

    width: 150px;
    height: 35px;


    text-align: center;

    border: 2px solid #111;
    border-radius: 8px;

    color: white;
    font-weight: bold;

    background-color: rgb(0, 132, 255);
    cursor: pointer;
}

.square-avatar .submit-button:hover {
    background-color: rgb(0, 132, 255, 0.8);
}

/* Erreur handle. */
.error-password{
    color: red;
    display: none;
}


.error-username{
    color: red;
    display: none;
}

/* Media queries for responsiveness */
@media (max-width: 1112px){}
@media (max-width: 1045px){}
@media (max-width: 900px){
    .square-avatar .list-avatar-square img {
        width: 90%;
        height: 90%;
    }

    .square-avatar .list-avatar-square .avatar-btn img {
        margin-right: 10px;
    }
}
@media (max-width: 400px) {
    body {
        height: 100vh;
    }

    img {
        width: 70%;
    }

    .circle {
        top: 0%;
        left: 50%;
        width: 60px;
        height: 60px;
    }

    .choose-avatar .square-name,
    .choose-avatar .square-password {
        width: 95%;
        height: 90%;
        margin-top: 30px;
    }

    .choose-avatar .square-name .title-name h2 {
        font-size: 18px;
    }

    .choose-avatar .square-name .title-name h4,
    .choose-avatar .square-password .title-name h4 {
        font-size: 16px;
        margin-top: 40px;
    }

    .square-name .choose-name .submit .submit-button {
        width: 130px;
        height: 30px;
        font-size: 12px;
    }

    .square-name .choose-name .name {
        font-size: 1rem;
    }

    .square-password .password-form input {
        width: 200px;
        height: 30px;
        font-size: 12px;
    }

    .square-avatar {
        width: 95%;
        height: auto;
        padding: 40px;
        background-color: white;
        border-radius: 10px;
    }

    .square-avatar .submit-button {
        width: 130px;
        height: 30px;
        font-size: 12px;
    }

    .square-avatar .title-avatar h4 {
        font-size: 12px;
    }

    .square-avatar .list-avatar-square img {
        width: 100%;
        height: 100%;
    }

    .square-avatar .list-avatar-square .avatar-btn img {
        margin-right: 10px;
    }


    .square-avatar .list-avatar-square .avatar-btn {
        margin-bottom: 20px;
    }




    .error-password,
    .error-username {
        font-size: 12px;
    }
}
