* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  

body {


    height: 100vh;
    background: white;

    background: linear-gradient(to left, #36d1dc, #5b86e5);

  }
  

  .chat {
    display: flex;
    width: 100%;
    height: 100%;
}
/* Property of the chat. */

.chat .square-chat {
  display: flex;
  height: 100%;
  width: 100%; 

  background-color: #1a1a1a;
}

.chat .square-chat .private-message{



  width: 17%;

  padding: 20px;
  
  background: #2c2f33; 


}

.chat .square-chat .private-message p {
  text-transform: uppercase;
  font-weight: bold;
  color: #666b6e;

  font-size: 11px;

  margin-bottom: 10px;
}

.chat .square-chat .private-message p:hover{
  color:white;
}

.chat .square-chat .list-user-div{
  width: 90%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%; 
}
.chat .square-chat .list-user-div  .user-div{
  display: flex;
  align-items: center;
  justify-content: flex-start;

}


.chat .square-chat .list-user-div .user-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  margin-top: 10px;
  color: #60656c;
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.chat .square-chat .return-public-chat{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.chat .square-chat .return-public-chat button{
  cursor: pointer;

  background-color: white;
  width: 80%;
  height: 40px;
  border-radius: 5px;

  background: linear-gradient(to left, #36d1dc, #5b86e5);
  color: rgb(36, 36, 36);
  font-weight: bold;


}

.chat .square-chat .return-public-chat p {
  display:flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.chat .square-chat .list-user-div .user-button .username{
  color: rgb(141, 141, 141);
}

.chat .square-chat .list-user-div .user-button:hover{
  background-color: rgba(185, 185, 185, 0.13);

  border-radius: 5px;
}

.chat .square-chat  .list-user-div .user-button img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}



.avatar-icon img{
  width: 40px;
  height: 40px;

  margin-right: 15px;
}

/* Chat Message Display Property. */

.chat .square-chat .chat-general{
  display: flex;
  
  flex-direction: column;
  width: 80%;

  padding: 20px;
}


.chat .square-chat .chat-general .list-message{
  width: 100%;


  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.chat .square-chat .chat-general .list-private-message{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.chat .square-chat .chat-general .list-private-messages{
  width: 100%;
  
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}


.chat .square-chat .chat-general .message-input {
  margin-top: auto;
}

/* Property Chat Input. */

.chat .square-chat .chat-general .message-input .chat-message{
  width: 90%;
  height: 45px;

  resize: none;

  padding: 12px;
  margin-right: 20px;
  border-radius: 15px;

  background-color: #363636;
}
.chat .square-chat .chat-general .message-input .send-message{
  display: flex;
  align-items: center;
  justify-content: center;

}
/* General Property Chat. */


.chat-general .user-from{
  display: flex;

  align-items: center;
  justify-content: center;
  text-align: center;

  margin-bottom: 2px;
}


.message-is{
  color: white;
}

.chat-general span{
  color: rgb(235, 235, 235);
  font-weight: bold;
}

.chat-general span p {
  color: black;

  font-weight: 0;
}

.message{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;

}

.message-left {
  text-align: left;
  align-self: flex-start;
}

.message-right {
  text-align: right;
  align-self: flex-end;
}

.blue{
  background-color: #007dfa;

  padding: 10px;

  border-radius: 10px;
}

.green{
  background-color: #0f7905;

  padding: 10px;

  border-radius: 10px;
}

.hidden{
  display: none!important; /* I have to do this... I don't know where was the problem...*/
}

.send{
  width: 25px;
  height: 25px;
}

.send-message{
  background: none;
  border: none;

  cursor: pointer;
}

.emoji-icon{
  width: 35px;
  height: 35px;

  margin-left: 10px;
}

button{
  background: none;
  border: none;
  
  cursor: pointer;
}

/* Responsive Mobile */ 

@media (max-width: 500px) {

  .chat .square-chat .return-public-chat button{
    background: white;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;

  }
  .chat .square-chat .return-public-chat button span{
    display : none;
  }
  .chat .square-chat .return-public-chat button .button-image-public{
    display: block!important;

    width: 20px;
    height: 20px;
  }
  
  .chat .square-chat  .list-user-div .user-button img {
    display: none;
  }

  .chat .square-chat .chat-general .message-input .chat-message{
    font-size: 10px;

    height: 35px;
  }
  .chat .square-chat .private-message .text-screen{
    display: none;
  }

  .chat .square-chat .private-message .text-mobile{
    display: flex!important;

    align-items: center;
    justify-content: center;
    text-align: center;

  }


  .green{
  
    padding: 5px;
    border-radius: 5px;
  }

  .blue{
    padding: 5px;
    border-radius: 5px;
  }

  .avatar-icon img{
    width: 30px;
    height: 30px;
  }
  .message-is{
    font-size: 12px;
  }

  .user-from{
    font-size: 13px;
  }

  .username{
    font-size: 10px;
  }
}