@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to left, #36d1dc, #5b86e5);
}

img{
  position: relative;
  max-width: 100%;
  width: 90%;
  height: 90%;
  left: 5%;

}

.circle {
  position: absolute;
  top: -25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 145px;
  height: 145px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.wrapper{
  width: 30%;
  height: auto;
  background: #E2E2E2;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255,255,255,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.wrapper .form-box {
  width: 100%;
  padding: 40px;

}

.wrapper .form-box.login {
  transition: transform .70s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-700px);
}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(700px);
}

.wrapper.active .form-box.register {
  transition: transform .70s ease;
  transform: translateX(0);
}

.form-box h2 {
  font-size: 2em;
  color : #162938;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top : 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}


label{
  top : -5px;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border : none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.btn {

  margin-top: 50px;

  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  background: #162938;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color : #fff;
  font-weight: 500;
}

.login-register {
  font-size: .9em;
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin-top: 25px;
}

.login-register a {
  text-decoration: none;
  color: darkcyan;
  font-weight: 600;
}

.login-register a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  font-size: 15px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;

}


@media (max-width: 1322px){
    .wrapper{
        width: 40%;
        height: auto;
    }

  .error-message {
    font-size: 12px;
  }

}
@media (max-width: 1045px){
    .wrapper{
        width: 50%;
    }
}
@media (max-width: 900px){
    .wrapper{
        width: 60%;
    }
}
@media (max-width: 400px) {

    img {
      width: 90%;
      margin-top: 5px;
    }

    .circle {
      top: 0%;
      left: 50%;
      width: 60px;
      height: 60px;
    }

    .wrapper {
        width: 90%;
        margin-top: 10px;
    }

    .wrapper .form-box {
      padding: 5px;
    }

    .wrapper .form-box h2 {
      font-size: 1.5em;
    }

    .input-box label {
      font-size: .8em;
    }

    .input-box input {
      font-size: .8em;
    }

    .btn {
      margin-top: 20px;
      font-size: .8em;
    }

    .login-register {
      font-size: .8em;
    }

    .login-register a {
      font-size: .8em;
    }

    .logo img {
      max-width: 80%;
    }
  .error-message {
    font-size: 8px;
  }

}
